@layer base {
  :root {
    --spectrum-accent-color-100: var(--undefinedblue-100);
    --spectrum-accent-color-200: var(--undefinedblue-200);
    --spectrum-accent-color-300: var(--undefinedblue-300);
    --spectrum-accent-color-400: var(--undefinedblue-400);
    --spectrum-accent-color-500: var(--undefinedblue-500);
    --spectrum-accent-color-600: var(--undefinedblue-600);
    --spectrum-accent-color-700: var(--undefinedblue-700);
    --spectrum-accent-color-800: var(--undefinedblue-800);
    --spectrum-accent-color-900: var(--undefinedblue-900);
    --spectrum-accent-color-1000: var(--undefinedblue-1000);
    --spectrum-accent-color-1100: var(--undefinedblue-1100);
    --spectrum-accent-color-1200: var(--undefinedblue-1200);
    --spectrum-accent-color-1300: var(--undefinedblue-1300);
    --spectrum-accent-color-1400: var(--undefinedblue-1400);
    --spectrum-accent-color-1500: var(--undefinedblue-1500);
    --spectrum-accent-color-1600: var(--undefinedblue-1600);
    --spectrum-informative-color-100: var(--undefinedblue-100);
    --spectrum-informative-color-200: var(--undefinedblue-200);
    --spectrum-informative-color-300: var(--undefinedblue-300);
    --spectrum-informative-color-400: var(--undefinedblue-400);
    --spectrum-informative-color-500: var(--undefinedblue-500);
    --spectrum-informative-color-600: var(--undefinedblue-600);
    --spectrum-informative-color-700: var(--undefinedblue-700);
    --spectrum-informative-color-800: var(--undefinedblue-800);
    --spectrum-informative-color-900: var(--undefinedblue-900);
    --spectrum-informative-color-1000: var(--undefinedblue-1000);
    --spectrum-informative-color-1100: var(--undefinedblue-1100);
    --spectrum-informative-color-1200: var(--undefinedblue-1200);
    --spectrum-informative-color-1300: var(--undefinedblue-1300);
    --spectrum-informative-color-1400: var(--undefinedblue-1400);
    --spectrum-informative-color-1500: var(--undefinedblue-1500);
    --spectrum-informative-color-1600: var(--undefinedblue-1600);
    --spectrum-negative-color-100: var(--undefinedred-100);
    --spectrum-negative-color-200: var(--undefinedred-200);
    --spectrum-negative-color-300: var(--undefinedred-300);
    --spectrum-negative-color-400: var(--undefinedred-400);
    --spectrum-negative-color-500: var(--undefinedred-500);
    --spectrum-negative-color-600: var(--undefinedred-600);
    --spectrum-negative-color-700: var(--undefinedred-700);
    --spectrum-negative-color-800: var(--undefinedred-800);
    --spectrum-negative-color-900: var(--undefinedred-900);
    --spectrum-negative-color-1000: var(--undefinedred-1000);
    --spectrum-negative-color-1100: var(--undefinedred-1100);
    --spectrum-negative-color-1200: var(--undefinedred-1200);
    --spectrum-negative-color-1300: var(--undefinedred-1300);
    --spectrum-negative-color-1400: var(--undefinedred-1400);
    --spectrum-negative-color-1500: var(--undefinedred-1500);
    --spectrum-negative-color-1600: var(--undefinedred-1600);
    --spectrum-notice-color-100: var(--undefinedorange-100);
    --spectrum-notice-color-200: var(--undefinedorange-200);
    --spectrum-notice-color-300: var(--undefinedorange-300);
    --spectrum-notice-color-400: var(--undefinedorange-400);
    --spectrum-notice-color-500: var(--undefinedorange-500);
    --spectrum-notice-color-600: var(--undefinedorange-600);
    --spectrum-notice-color-700: var(--undefinedorange-700);
    --spectrum-notice-color-800: var(--undefinedorange-800);
    --spectrum-notice-color-900: var(--undefinedorange-900);
    --spectrum-notice-color-1000: var(--undefinedorange-1000);
    --spectrum-notice-color-1100: var(--undefinedorange-1100);
    --spectrum-notice-color-1200: var(--undefinedorange-1200);
    --spectrum-notice-color-1300: var(--undefinedorange-1300);
    --spectrum-notice-color-1400: var(--undefinedorange-1400);
    --spectrum-notice-color-1500: var(--undefinedorange-1500);
    --spectrum-notice-color-1600: var(--undefinedorange-1600);
    --spectrum-positive-color-100: var(--undefinedgreen-100);
    --spectrum-positive-color-200: var(--undefinedgreen-200);
    --spectrum-positive-color-300: var(--undefinedgreen-300);
    --spectrum-positive-color-400: var(--undefinedgreen-400);
    --spectrum-positive-color-500: var(--undefinedgreen-500);
    --spectrum-positive-color-600: var(--undefinedgreen-600);
    --spectrum-positive-color-700: var(--undefinedgreen-700);
    --spectrum-positive-color-800: var(--undefinedgreen-800);
    --spectrum-positive-color-900: var(--undefinedgreen-900);
    --spectrum-positive-color-1000: var(--undefinedgreen-1000);
    --spectrum-positive-color-1100: var(--undefinedgreen-1100);
    --spectrum-positive-color-1200: var(--undefinedgreen-1200);
    --spectrum-positive-color-1300: var(--undefinedgreen-1300);
    --spectrum-positive-color-1400: var(--undefinedgreen-1400);
    --spectrum-positive-color-1500: var(--undefinedgreen-1500);
    --spectrum-positive-color-1600: var(--undefinedgreen-1600);
    --spectrum-negative-subdued-background-color-default: var(--undefinednegative-color-200);
    --spectrum-negative-subdued-background-color-hover: var(--undefinednegative-color-300);
    --spectrum-negative-subdued-background-color-down: var(--undefinednegative-color-300);
    --spectrum-negative-subdued-background-color-key-focus: var(--undefinednegative-color-300);
    --spectrum-informative-subtle-background-color-default: var(--undefinedblue-200);
    --spectrum-positive-subtle-background-color-default: var(--undefinedgreen-200);
    --spectrum-notice-subtle-background-color-default: var(--undefinedorange-200);
    --spectrum-negative-subtle-background-color-default: var(--undefinedred-200);
  }
}
