:root,
.light {
  --spectrum-white: rgb(255, 255, 255);
  --spectrum-transparent-white-25: rgba(255, 255, 255, 0);
  --spectrum-transparent-white-50: rgba(255, 255, 255, 0.04);
  --spectrum-transparent-white-75: rgba(255, 255, 255, 0.07);
  --spectrum-transparent-white-100: rgba(255, 255, 255, 0.11);
  --spectrum-transparent-white-200: rgba(255, 255, 255, 0.14);
  --spectrum-transparent-white-300: rgba(255, 255, 255, 0.17);
  --spectrum-transparent-white-400: rgba(255, 255, 255, 0.21);
  --spectrum-transparent-white-500: rgba(255, 255, 255, 0.39);
  --spectrum-transparent-white-600: rgba(255, 255, 255, 0.51);
  --spectrum-transparent-white-700: rgba(255, 255, 255, 0.66);
  --spectrum-transparent-white-800: rgba(255, 255, 255, 0.85);
  --spectrum-transparent-white-900: rgba(255, 255, 255, 0.94);
  --spectrum-transparent-white-1000: rgb(255, 255, 255);
  --spectrum-black: rgb(0, 0, 0);
  --spectrum-transparent-black-25: rgba(0, 0, 0, 0);
  --spectrum-transparent-black-50: rgba(0, 0, 0, 0.03);
  --spectrum-transparent-black-75: rgba(0, 0, 0, 0.05);
  --spectrum-transparent-black-100: rgba(0, 0, 0, 0.09);
  --spectrum-transparent-black-200: rgba(0, 0, 0, 0.12);
  --spectrum-transparent-black-300: rgba(0, 0, 0, 0.15);
  --spectrum-transparent-black-400: rgba(0, 0, 0, 0.22);
  --spectrum-transparent-black-500: rgba(0, 0, 0, 0.44);
  --spectrum-transparent-black-600: rgba(0, 0, 0, 0.56);
  --spectrum-transparent-black-700: rgba(0, 0, 0, 0.69);
  --spectrum-transparent-black-800: rgba(0, 0, 0, 0.84);
  --spectrum-transparent-black-900: rgba(0, 0, 0, 0.93);
  --spectrum-transparent-black-1000: rgb(0, 0, 0);

  /* light tokens */
  --spectrum-gray-25: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-gray-50: rgb(248, 248, 248); /* original: rgb(248, 248, 248) */
  --spectrum-gray-75: rgb(243, 243, 243); /* original: rgb(243, 243, 243) */
  --spectrum-gray-100: rgb(233, 233, 233); /* original: rgb(233, 233, 233) */
  --spectrum-gray-200: rgb(225, 225, 225); /* original: rgb(225, 225, 225) */
  --spectrum-gray-300: rgb(218, 218, 218); /* original: rgb(218, 218, 218) */
  --spectrum-gray-400: rgb(198, 198, 198); /* original: rgb(198, 198, 198) */
  --spectrum-gray-500: rgb(143, 143, 143); /* original: rgb(143, 143, 143) */
  --spectrum-gray-600: rgb(113, 113, 113); /* original: rgb(113, 113, 113) */
  --spectrum-gray-700: rgb(80, 80, 80); /* original: rgb(80, 80, 80) */
  --spectrum-gray-800: rgb(41, 41, 41); /* original: rgb(41, 41, 41) */
  --spectrum-gray-900: rgb(19, 19, 19); /* original: rgb(19, 19, 19) */
  --spectrum-gray-1000: rgb(0, 0, 0); /* original: rgb(0, 0, 0) */
  --spectrum-blue-100: rgb(245, 249, 255); /* original: rgb(245, 249, 255) */
  --spectrum-blue-200: rgb(229, 240, 254); /* original: rgb(229, 240, 254) */
  --spectrum-blue-300: rgb(203, 226, 254); /* original: rgb(203, 226, 254) */
  --spectrum-blue-400: rgb(172, 207, 253); /* original: rgb(172, 207, 253) */
  --spectrum-blue-500: rgb(142, 185, 252); /* original: rgb(142, 185, 252) */
  --spectrum-blue-600: rgb(114, 158, 253); /* original: rgb(114, 158, 253) */
  --spectrum-blue-700: rgb(93, 137, 255); /* original: rgb(93, 137, 255) */
  --spectrum-blue-800: rgb(75, 117, 255); /* original: rgb(75, 117, 255) */
  --spectrum-blue-900: rgb(59, 99, 251); /* original: rgb(59, 99, 251) */
  --spectrum-blue-1000: rgb(39, 77, 234); /* original: rgb(39, 77, 234) */
  --spectrum-blue-1100: rgb(29, 62, 207); /* original: rgb(29, 62, 207) */
  --spectrum-blue-1200: rgb(21, 50, 173); /* original: rgb(21, 50, 173) */
  --spectrum-blue-1300: rgb(16, 40, 140); /* original: rgb(16, 40, 140) */
  --spectrum-blue-1400: rgb(12, 31, 105); /* original: rgb(12, 31, 105) */
  --spectrum-blue-1500: rgb(14, 24, 67); /* original: rgb(14, 24, 67) */
  --spectrum-blue-1600: rgb(7, 11, 30); /* original: rgb(7, 11, 30) */
  --spectrum-red-100: rgb(255, 246, 245); /* original: rgb(255, 246, 245) */
  --spectrum-red-200: rgb(255, 235, 232); /* original: rgb(255, 235, 232) */
  --spectrum-red-300: rgb(255, 214, 209); /* original: rgb(255, 214, 209) */
  --spectrum-red-400: rgb(255, 188, 180); /* original: rgb(255, 188, 180) */
  --spectrum-red-500: rgb(255, 157, 145); /* original: rgb(255, 157, 145) */
  --spectrum-red-600: rgb(255, 118, 101); /* original: rgb(255, 118, 101) */
  --spectrum-red-700: rgb(255, 81, 61); /* original: rgb(255, 81, 61) */
  --spectrum-red-800: rgb(240, 56, 35); /* original: rgb(240, 56, 35) */
  --spectrum-red-900: rgb(215, 50, 32); /* original: rgb(215, 50, 32) */
  --spectrum-red-1000: rgb(183, 40, 24); /* original: rgb(183, 40, 24) */
  --spectrum-red-1100: rgb(156, 33, 19); /* original: rgb(156, 33, 19) */
  --spectrum-red-1200: rgb(129, 27, 14); /* original: rgb(129, 27, 14) */
  --spectrum-red-1300: rgb(104, 21, 10); /* original: rgb(104, 21, 10) */
  --spectrum-red-1400: rgb(80, 16, 6); /* original: rgb(80, 16, 6) */
  --spectrum-red-1500: rgb(59, 11, 4); /* original: rgb(59, 11, 4) */
  --spectrum-red-1600: rgb(29, 5, 2); /* original: rgb(29, 5, 2) */
  --spectrum-orange-100: rgb(255, 246, 231); /* original: rgb(255, 246, 231) */
  --spectrum-orange-200: rgb(255, 236, 207); /* original: rgb(255, 236, 207) */
  --spectrum-orange-300: rgb(255, 218, 158); /* original: rgb(255, 218, 158) */
  --spectrum-orange-400: rgb(255, 193, 94); /* original: rgb(255, 193, 94) */
  --spectrum-orange-500: rgb(255, 162, 19); /* original: rgb(255, 162, 19) */
  --spectrum-orange-600: rgb(252, 125, 0); /* original: rgb(252, 125, 0) */
  --spectrum-orange-700: rgb(232, 106, 0); /* original: rgb(232, 106, 0) */
  --spectrum-orange-800: rgb(212, 91, 0); /* original: rgb(212, 91, 0) */
  --spectrum-orange-900: rgb(194, 78, 0); /* original: rgb(194, 78, 0) */
  --spectrum-orange-1000: rgb(167, 62, 0); /* original: rgb(167, 62, 0) */
  --spectrum-orange-1100: rgb(144, 51, 0); /* original: rgb(144, 51, 0) */
  --spectrum-orange-1200: rgb(118, 41, 0); /* original: rgb(118, 41, 0) */
  --spectrum-orange-1300: rgb(95, 32, 0); /* original: rgb(95, 32, 0) */
  --spectrum-orange-1400: rgb(73, 24, 0); /* original: rgb(73, 24, 0) */
  --spectrum-orange-1500: rgb(52, 18, 0); /* original: rgb(52, 18, 0) */
  --spectrum-orange-1600: rgb(25, 8, 0); /* original: rgb(25, 8, 0) */
  --spectrum-yellow-100: rgb(255, 248, 204); /* original: rgb(255, 248, 204) */
  --spectrum-yellow-200: rgb(255, 241, 151); /* original: rgb(255, 241, 151) */
  --spectrum-yellow-300: rgb(255, 222, 44); /* original: rgb(255, 222, 44) */
  --spectrum-yellow-400: rgb(245, 199, 0); /* original: rgb(245, 199, 0) */
  --spectrum-yellow-500: rgb(230, 175, 0); /* original: rgb(230, 175, 0) */
  --spectrum-yellow-600: rgb(210, 149, 0); /* original: rgb(210, 149, 0) */
  --spectrum-yellow-700: rgb(193, 131, 0); /* original: rgb(193, 131, 0) */
  --spectrum-yellow-800: rgb(175, 116, 0); /* original: rgb(175, 116, 0) */
  --spectrum-yellow-900: rgb(158, 102, 0); /* original: rgb(158, 102, 0) */
  --spectrum-yellow-1000: rgb(134, 85, 0); /* original: rgb(134, 85, 0) */
  --spectrum-yellow-1100: rgb(114, 72, 0); /* original: rgb(114, 72, 0) */
  --spectrum-yellow-1200: rgb(93, 59, 0); /* original: rgb(93, 59, 0) */
  --spectrum-yellow-1300: rgb(75, 47, 0); /* original: rgb(75, 47, 0) */
  --spectrum-yellow-1400: rgb(56, 35, 0); /* original: rgb(56, 35, 0) */
  --spectrum-yellow-1500: rgb(40, 25, 0); /* original: rgb(40, 25, 0) */
  --spectrum-yellow-1600: rgb(18, 11, 0); /* original: rgb(18, 11, 0) */
  --spectrum-chartreuse-100: rgb(246, 251, 222); /* original: rgb(246, 251, 222) */
  --spectrum-chartreuse-200: rgb(234, 246, 173); /* original: rgb(234, 246, 173) */
  --spectrum-chartreuse-300: rgb(208, 236, 70); /* original: rgb(208, 236, 70) */
  --spectrum-chartreuse-400: rgb(182, 219, 0); /* original: rgb(182, 219, 0) */
  --spectrum-chartreuse-500: rgb(163, 196, 0); /* original: rgb(163, 196, 0) */
  --spectrum-chartreuse-600: rgb(143, 172, 0); /* original: rgb(143, 172, 0) */
  --spectrum-chartreuse-700: rgb(128, 153, 0); /* original: rgb(128, 153, 0) */
  --spectrum-chartreuse-800: rgb(114, 137, 0); /* original: rgb(114, 137, 0) */
  --spectrum-chartreuse-900: rgb(102, 122, 0); /* original: rgb(102, 122, 0) */
  --spectrum-chartreuse-1000: rgb(86, 103, 0); /* original: rgb(86, 103, 0) */
  --spectrum-chartreuse-1100: rgb(73, 87, 0); /* original: rgb(73, 87, 0) */
  --spectrum-chartreuse-1200: rgb(60, 71, 0); /* original: rgb(60, 71, 0) */
  --spectrum-chartreuse-1300: rgb(47, 57, 0); /* original: rgb(47, 57, 0) */
  --spectrum-chartreuse-1400: rgb(35, 43, 0); /* original: rgb(35, 43, 0) */
  --spectrum-chartreuse-1500: rgb(25, 30, 0); /* original: rgb(25, 30, 0) */
  --spectrum-chartreuse-1600: rgb(11, 14, 0); /* original: rgb(11, 14, 0) */
  --spectrum-celery-100: rgb(235, 255, 220); /* original: rgb(235, 255, 220) */
  --spectrum-celery-200: rgb(197, 255, 156); /* original: rgb(197, 255, 156) */
  --spectrum-celery-300: rgb(157, 247, 92); /* original: rgb(157, 247, 92) */
  --spectrum-celery-400: rgb(129, 228, 58); /* original: rgb(129, 228, 58) */
  --spectrum-celery-500: rgb(110, 206, 42); /* original: rgb(110, 206, 42) */
  --spectrum-celery-600: rgb(93, 180, 31); /* original: rgb(93, 180, 31) */
  --spectrum-celery-700: rgb(82, 161, 25); /* original: rgb(82, 161, 25) */
  --spectrum-celery-800: rgb(72, 144, 20); /* original: rgb(72, 144, 20) */
  --spectrum-celery-900: rgb(64, 129, 17); /* original: rgb(64, 129, 17) */
  --spectrum-celery-1000: rgb(52, 109, 12); /* original: rgb(52, 109, 12) */
  --spectrum-celery-1100: rgb(44, 92, 9); /* original: rgb(44, 92, 9) */
  --spectrum-celery-1200: rgb(35, 75, 6); /* original: rgb(35, 75, 6) */
  --spectrum-celery-1300: rgb(27, 60, 3); /* original: rgb(27, 60, 3) */
  --spectrum-celery-1400: rgb(19, 46, 0); /* original: rgb(19, 46, 0) */
  --spectrum-celery-1500: rgb(12, 33, 0); /* original: rgb(12, 33, 0) */
  --spectrum-celery-1600: rgb(4, 15, 0); /* original: rgb(4, 15, 0) */
  --spectrum-green-100: rgb(237, 252, 241); /* original: rgb(237, 252, 241) */
  --spectrum-green-200: rgb(215, 247, 225); /* original: rgb(215, 247, 225) */
  --spectrum-green-300: rgb(173, 238, 197); /* original: rgb(173, 238, 197) */
  --spectrum-green-400: rgb(107, 227, 162); /* original: rgb(107, 227, 162) */
  --spectrum-green-500: rgb(43, 209, 125); /* original: rgb(43, 209, 125) */
  --spectrum-green-600: rgb(18, 184, 103); /* original: rgb(18, 184, 103) */
  --spectrum-green-700: rgb(11, 164, 93); /* original: rgb(11, 164, 93) */
  --spectrum-green-800: rgb(7, 147, 85); /* original: rgb(7, 147, 85) */
  --spectrum-green-900: rgb(5, 131, 78); /* original: rgb(5, 131, 78) */
  --spectrum-green-1000: rgb(3, 110, 69); /* original: rgb(3, 110, 69) */
  --spectrum-green-1100: rgb(2, 93, 60); /* original: rgb(2, 93, 60) */
  --spectrum-green-1200: rgb(1, 76, 52); /* original: rgb(1, 76, 52) */
  --spectrum-green-1300: rgb(0, 61, 44); /* original: rgb(0, 61, 44) */
  --spectrum-green-1400: rgb(0, 46, 34); /* original: rgb(0, 46, 34) */
  --spectrum-green-1500: rgb(0, 33, 25); /* original: rgb(0, 33, 25) */
  --spectrum-green-1600: rgb(0, 15, 12); /* original: rgb(0, 15, 12) */
  --spectrum-seafoam-100: rgb(235, 251, 246); /* original: rgb(235, 251, 246) */
  --spectrum-seafoam-200: rgb(211, 246, 234); /* original: rgb(211, 246, 234) */
  --spectrum-seafoam-300: rgb(169, 237, 216); /* original: rgb(169, 237, 216) */
  --spectrum-seafoam-400: rgb(92, 225, 194); /* original: rgb(92, 225, 194) */
  --spectrum-seafoam-500: rgb(16, 207, 169); /* original: rgb(16, 207, 169) */
  --spectrum-seafoam-600: rgb(13, 181, 149); /* original: rgb(13, 181, 149) */
  --spectrum-seafoam-700: rgb(11, 162, 134); /* original: rgb(11, 162, 134) */
  --spectrum-seafoam-800: rgb(9, 144, 120); /* original: rgb(9, 144, 120) */
  --spectrum-seafoam-900: rgb(7, 129, 109); /* original: rgb(7, 129, 109) */
  --spectrum-seafoam-1000: rgb(5, 108, 92); /* original: rgb(5, 108, 92) */
  --spectrum-seafoam-1100: rgb(3, 92, 80); /* original: rgb(3, 92, 80) */
  --spectrum-seafoam-1200: rgb(1, 75, 67); /* original: rgb(1, 75, 67) */
  --spectrum-seafoam-1300: rgb(0, 60, 54); /* original: rgb(0, 60, 54) */
  --spectrum-seafoam-1400: rgb(0, 46, 40); /* original: rgb(0, 46, 40) */
  --spectrum-seafoam-1500: rgb(0, 33, 29); /* original: rgb(0, 33, 29) */
  --spectrum-seafoam-1600: rgb(0, 15, 14); /* original: rgb(0, 15, 14) */
  --spectrum-cyan-100: rgb(238, 250, 254); /* original: rgb(238, 250, 254) */
  --spectrum-cyan-200: rgb(217, 244, 253); /* original: rgb(217, 244, 253) */
  --spectrum-cyan-300: rgb(183, 231, 252); /* original: rgb(183, 231, 252) */
  --spectrum-cyan-400: rgb(138, 213, 255); /* original: rgb(138, 213, 255) */
  --spectrum-cyan-500: rgb(92, 192, 255); /* original: rgb(92, 192, 255) */
  --spectrum-cyan-600: rgb(48, 167, 254); /* original: rgb(48, 167, 254) */
  --spectrum-cyan-700: rgb(29, 149, 231); /* original: rgb(29, 149, 231) */
  --spectrum-cyan-800: rgb(18, 134, 205); /* original: rgb(18, 134, 205) */
  --spectrum-cyan-900: rgb(11, 120, 179); /* original: rgb(11, 120, 179) */
  --spectrum-cyan-1000: rgb(4, 102, 145); /* original: rgb(4, 102, 145) */
  --spectrum-cyan-1100: rgb(0, 87, 121); /* original: rgb(0, 87, 121) */
  --spectrum-cyan-1200: rgb(0, 71, 98); /* original: rgb(0, 71, 98) */
  --spectrum-cyan-1300: rgb(0, 57, 78); /* original: rgb(0, 57, 78) */
  --spectrum-cyan-1400: rgb(0, 43, 59); /* original: rgb(0, 43, 59) */
  --spectrum-cyan-1500: rgb(0, 31, 43); /* original: rgb(0, 31, 43) */
  --spectrum-cyan-1600: rgb(0, 14, 20); /* original: rgb(0, 14, 20) */
  --spectrum-indigo-100: rgb(247, 248, 255); /* original: rgb(247, 248, 255) */
  --spectrum-indigo-200: rgb(235, 238, 255); /* original: rgb(235, 238, 255) */
  --spectrum-indigo-300: rgb(216, 222, 255); /* original: rgb(216, 222, 255) */
  --spectrum-indigo-400: rgb(192, 201, 255); /* original: rgb(192, 201, 255) */
  --spectrum-indigo-500: rgb(167, 178, 255); /* original: rgb(167, 178, 255) */
  --spectrum-indigo-600: rgb(145, 151, 254); /* original: rgb(145, 151, 254) */
  --spectrum-indigo-700: rgb(132, 128, 254); /* original: rgb(132, 128, 254) */
  --spectrum-indigo-800: rgb(122, 106, 253); /* original: rgb(122, 106, 253) */
  --spectrum-indigo-900: rgb(113, 85, 250); /* original: rgb(113, 85, 250) */
  --spectrum-indigo-1000: rgb(99, 56, 238); /* original: rgb(99, 56, 238) */
  --spectrum-indigo-1100: rgb(84, 36, 219); /* original: rgb(84, 36, 219) */
  --spectrum-indigo-1200: rgb(69, 19, 191); /* original: rgb(69, 19, 191) */
  --spectrum-indigo-1300: rgb(55, 6, 160); /* original: rgb(55, 6, 160) */
  --spectrum-indigo-1400: rgb(42, 0, 129); /* original: rgb(42, 0, 129) */
  --spectrum-indigo-1500: rgb(31, 0, 98); /* original: rgb(31, 0, 98) */
  --spectrum-indigo-1600: rgb(17, 0, 54); /* original: rgb(17, 0, 54) */
  --spectrum-purple-100: rgb(251, 247, 254); /* original: rgb(251, 247, 254) */
  --spectrum-purple-200: rgb(244, 235, 252); /* original: rgb(244, 235, 252) */
  --spectrum-purple-300: rgb(235, 218, 249); /* original: rgb(235, 218, 249) */
  --spectrum-purple-400: rgb(221, 193, 246); /* original: rgb(221, 193, 246) */
  --spectrum-purple-500: rgb(208, 167, 243); /* original: rgb(208, 167, 243) */
  --spectrum-purple-600: rgb(191, 138, 238); /* original: rgb(191, 138, 238) */
  --spectrum-purple-700: rgb(178, 114, 235); /* original: rgb(178, 114, 235) */
  --spectrum-purple-800: rgb(166, 92, 231); /* original: rgb(166, 92, 231) */
  --spectrum-purple-900: rgb(154, 71, 226); /* original: rgb(154, 71, 226) */
  --spectrum-purple-1000: rgb(134, 40, 217); /* original: rgb(134, 40, 217) */
  --spectrum-purple-1100: rgb(115, 13, 204); /* original: rgb(115, 13, 204) */
  --spectrum-purple-1200: rgb(93, 0, 177); /* original: rgb(93, 0, 177) */
  --spectrum-purple-1300: rgb(75, 0, 144); /* original: rgb(75, 0, 144) */
  --spectrum-purple-1400: rgb(59, 0, 111); /* original: rgb(59, 0, 111) */
  --spectrum-purple-1500: rgb(44, 0, 84); /* original: rgb(44, 0, 84) */
  --spectrum-purple-1600: rgb(23, 0, 45); /* original: rgb(23, 0, 45) */
  --spectrum-fuchsia-100: rgb(254, 246, 255); /* original: rgb(254, 246, 255) */
  --spectrum-fuchsia-200: rgb(253, 233, 255); /* original: rgb(253, 233, 255) */
  --spectrum-fuchsia-300: rgb(250, 211, 255); /* original: rgb(250, 211, 255) */
  --spectrum-fuchsia-400: rgb(247, 181, 255); /* original: rgb(247, 181, 255) */
  --spectrum-fuchsia-500: rgb(243, 147, 255); /* original: rgb(243, 147, 255) */
  --spectrum-fuchsia-600: rgb(236, 105, 255); /* original: rgb(236, 105, 255) */
  --spectrum-fuchsia-700: rgb(223, 77, 245); /* original: rgb(223, 77, 245) */
  --spectrum-fuchsia-800: rgb(200, 68, 220); /* original: rgb(200, 68, 220) */
  --spectrum-fuchsia-900: rgb(181, 57, 200); /* original: rgb(181, 57, 200) */
  --spectrum-fuchsia-1000: rgb(156, 40, 175); /* original: rgb(156, 40, 175) */
  --spectrum-fuchsia-1100: rgb(135, 27, 154); /* original: rgb(135, 27, 154) */
  --spectrum-fuchsia-1200: rgb(113, 15, 131); /* original: rgb(113, 15, 131) */
  --spectrum-fuchsia-1300: rgb(92, 4, 109); /* original: rgb(92, 4, 109) */
  --spectrum-fuchsia-1400: rgb(72, 0, 88); /* original: rgb(72, 0, 88) */
  --spectrum-fuchsia-1500: rgb(54, 0, 66); /* original: rgb(54, 0, 66) */
  --spectrum-fuchsia-1600: rgb(29, 0, 35); /* original: rgb(29, 0, 35) */
  --spectrum-magenta-100: rgb(255, 245, 248); /* original: rgb(255, 245, 248) */
  --spectrum-magenta-200: rgb(255, 232, 240); /* original: rgb(255, 232, 240) */
  --spectrum-magenta-300: rgb(255, 213, 227); /* original: rgb(255, 213, 227) */
  --spectrum-magenta-400: rgb(255, 185, 208); /* original: rgb(255, 185, 208) */
  --spectrum-magenta-500: rgb(255, 152, 187); /* original: rgb(255, 152, 187) */
  --spectrum-magenta-600: rgb(255, 112, 159); /* original: rgb(255, 112, 159) */
  --spectrum-magenta-700: rgb(255, 72, 133); /* original: rgb(255, 72, 133) */
  --spectrum-magenta-800: rgb(240, 45, 110); /* original: rgb(240, 45, 110) */
  --spectrum-magenta-900: rgb(217, 35, 97); /* original: rgb(217, 35, 97) */
  --spectrum-magenta-1000: rgb(186, 22, 80); /* original: rgb(186, 22, 80) */
  --spectrum-magenta-1100: rgb(163, 5, 62); /* original: rgb(163, 5, 62) */
  --spectrum-magenta-1200: rgb(136, 0, 51); /* original: rgb(136, 0, 51) */
  --spectrum-magenta-1300: rgb(111, 0, 40); /* original: rgb(111, 0, 40) */
  --spectrum-magenta-1400: rgb(86, 0, 30); /* original: rgb(86, 0, 30) */
  --spectrum-magenta-1500: rgb(64, 0, 22); /* original: rgb(64, 0, 22) */
  --spectrum-magenta-1600: rgb(35, 0, 12); /* original: rgb(35, 0, 12) */
  --spectrum-pink-100: rgb(255, 246, 252); /* original: rgb(255, 246, 252) */
  --spectrum-pink-200: rgb(255, 232, 247); /* original: rgb(255, 232, 247) */
  --spectrum-pink-300: rgb(255, 211, 240); /* original: rgb(255, 211, 240) */
  --spectrum-pink-400: rgb(255, 181, 230); /* original: rgb(255, 181, 230) */
  --spectrum-pink-500: rgb(255, 148, 219); /* original: rgb(255, 148, 219) */
  --spectrum-pink-600: rgb(255, 103, 204); /* original: rgb(255, 103, 204) */
  --spectrum-pink-700: rgb(242, 76, 184); /* original: rgb(242, 76, 184) */
  --spectrum-pink-800: rgb(228, 52, 163); /* original: rgb(228, 52, 163) */
  --spectrum-pink-900: rgb(206, 42, 146); /* original: rgb(206, 42, 146) */
  --spectrum-pink-1000: rgb(176, 31, 123); /* original: rgb(176, 31, 123) */
  --spectrum-pink-1100: rgb(152, 22, 104); /* original: rgb(152, 22, 104) */
  --spectrum-pink-1200: rgb(128, 12, 85); /* original: rgb(128, 12, 85) */
  --spectrum-pink-1300: rgb(105, 3, 68); /* original: rgb(105, 3, 68) */
  --spectrum-pink-1400: rgb(83, 0, 53); /* original: rgb(83, 0, 53) */
  --spectrum-pink-1500: rgb(62, 0, 39); /* original: rgb(62, 0, 39) */
  --spectrum-pink-1600: rgb(33, 0, 21); /* original: rgb(33, 0, 21) */
  --spectrum-turquoise-100: rgb(238, 251, 251); /* original: rgb(238, 251, 251) */
  --spectrum-turquoise-200: rgb(209, 245, 245); /* original: rgb(209, 245, 245) */
  --spectrum-turquoise-300: rgb(169, 236, 237); /* original: rgb(169, 236, 237) */
  --spectrum-turquoise-400: rgb(111, 221, 228); /* original: rgb(111, 221, 228) */
  --spectrum-turquoise-500: rgb(39, 202, 216); /* original: rgb(39, 202, 216) */
  --spectrum-turquoise-600: rgb(15, 177, 192); /* original: rgb(15, 177, 192) */
  --spectrum-turquoise-700: rgb(12, 158, 171); /* original: rgb(12, 158, 171) */
  --spectrum-turquoise-800: rgb(10, 141, 153); /* original: rgb(10, 141, 153) */
  --spectrum-turquoise-900: rgb(8, 126, 137); /* original: rgb(8, 126, 137) */
  --spectrum-turquoise-1000: rgb(5, 107, 116); /* original: rgb(5, 107, 116) */
  --spectrum-turquoise-1100: rgb(3, 90, 98); /* original: rgb(3, 90, 98) */
  --spectrum-turquoise-1200: rgb(1, 74, 81); /* original: rgb(1, 74, 81) */
  --spectrum-turquoise-1300: rgb(0, 59, 65); /* original: rgb(0, 59, 65) */
  --spectrum-turquoise-1400: rgb(0, 44, 49); /* original: rgb(0, 44, 49) */
  --spectrum-turquoise-1500: rgb(0, 32, 35); /* original: rgb(0, 32, 35) */
  --spectrum-turquoise-1600: rgb(0, 15, 17); /* original: rgb(0, 15, 17) */
  --spectrum-brown-100: rgb(252, 247, 242); /* original: rgb(252, 247, 242) */
  --spectrum-brown-200: rgb(247, 238, 225); /* original: rgb(247, 238, 225) */
  --spectrum-brown-300: rgb(239, 221, 195); /* original: rgb(239, 221, 195) */
  --spectrum-brown-400: rgb(229, 200, 157); /* original: rgb(229, 200, 157) */
  --spectrum-brown-500: rgb(214, 177, 123); /* original: rgb(214, 177, 123) */
  --spectrum-brown-600: rgb(190, 155, 104); /* original: rgb(190, 155, 104) */
  --spectrum-brown-700: rgb(171, 138, 90); /* original: rgb(171, 138, 90) */
  --spectrum-brown-800: rgb(154, 123, 77); /* original: rgb(154, 123, 77) */
  --spectrum-brown-900: rgb(139, 109, 66); /* original: rgb(139, 109, 66) */
  --spectrum-brown-1000: rgb(119, 91, 50); /* original: rgb(119, 91, 50) */
  --spectrum-brown-1100: rgb(103, 76, 35); /* original: rgb(103, 76, 35) */
  --spectrum-brown-1200: rgb(88, 61, 21); /* original: rgb(88, 61, 21) */
  --spectrum-brown-1300: rgb(70, 49, 17); /* original: rgb(70, 49, 17) */
  --spectrum-brown-1400: rgb(52, 37, 13); /* original: rgb(52, 37, 13) */
  --spectrum-brown-1500: rgb(38, 26, 9); /* original: rgb(38, 26, 9) */
  --spectrum-brown-1600: rgb(16, 12, 4); /* original: rgb(16, 12, 4) */
  --spectrum-silver-100: rgb(247, 247, 247); /* original: rgb(247, 247, 247) */
  --spectrum-silver-200: rgb(239, 239, 239); /* original: rgb(239, 239, 239) */
  --spectrum-silver-300: rgb(223, 223, 223); /* original: rgb(223, 223, 223) */
  --spectrum-silver-400: rgb(204, 204, 204); /* original: rgb(204, 204, 204) */
  --spectrum-silver-500: rgb(183, 183, 183); /* original: rgb(183, 183, 183) */
  --spectrum-silver-600: rgb(160, 160, 160); /* original: rgb(160, 160, 160) */
  --spectrum-silver-700: rgb(143, 143, 143); /* original: rgb(143, 143, 143) */
  --spectrum-silver-800: rgb(128, 128, 128); /* original: rgb(128, 128, 128) */
  --spectrum-silver-900: rgb(114, 114, 114); /* original: rgb(114, 114, 114) */
  --spectrum-silver-1000: rgb(96, 96, 96); /* original: rgb(96, 96, 96) */
  --spectrum-silver-1100: rgb(81, 81, 81); /* original: rgb(81, 81, 81) */
  --spectrum-silver-1200: rgb(66, 66, 66); /* original: rgb(66, 66, 66) */
  --spectrum-silver-1300: rgb(52, 52, 52); /* original: rgb(52, 52, 52) */
  --spectrum-silver-1400: rgb(39, 39, 39); /* original: rgb(39, 39, 39) */
  --spectrum-silver-1500: rgb(28, 28, 28); /* original: rgb(28, 28, 28) */
  --spectrum-silver-1600: rgb(12, 12, 12); /* original: rgb(12, 12, 12) */
  --spectrum-cinnamon-100: rgb(253, 247, 243); /* original: rgb(253, 247, 243) */
  --spectrum-cinnamon-200: rgb(249, 236, 229); /* original: rgb(249, 236, 229) */
  --spectrum-cinnamon-300: rgb(244, 218, 203); /* original: rgb(244, 218, 203) */
  --spectrum-cinnamon-400: rgb(237, 196, 172); /* original: rgb(237, 196, 172) */
  --spectrum-cinnamon-500: rgb(229, 170, 136); /* original: rgb(229, 170, 136) */
  --spectrum-cinnamon-600: rgb(212, 145, 108); /* original: rgb(212, 145, 108) */
  --spectrum-cinnamon-700: rgb(198, 126, 88); /* original: rgb(198, 126, 88) */
  --spectrum-cinnamon-800: rgb(184, 109, 70); /* original: rgb(184, 109, 70) */
  --spectrum-cinnamon-900: rgb(170, 94, 56); /* original: rgb(170, 94, 56) */
  --spectrum-cinnamon-1000: rgb(147, 77, 43); /* original: rgb(147, 77, 43) */
  --spectrum-cinnamon-1100: rgb(128, 62, 32); /* original: rgb(128, 62, 32) */
  --spectrum-cinnamon-1200: rgb(110, 48, 21); /* original: rgb(110, 48, 21) */
  --spectrum-cinnamon-1300: rgb(92, 35, 11); /* original: rgb(92, 35, 11) */
  --spectrum-cinnamon-1400: rgb(72, 25, 6); /* original: rgb(72, 25, 6) */
  --spectrum-cinnamon-1500: rgb(52, 18, 4); /* original: rgb(52, 18, 4) */
  --spectrum-cinnamon-1600: rgb(24, 8, 2); /* original: rgb(24, 8, 2) */
}

.dark {
  --spectrum-gray-25: rgb(17, 17, 17); /* original: rgb(17, 17, 17) */
  --spectrum-gray-50: rgb(27, 27, 27); /* original: rgb(27, 27, 27) */
  --spectrum-gray-75: rgb(34, 34, 34); /* original: rgb(34, 34, 34) */
  --spectrum-gray-100: rgb(44, 44, 44); /* original: rgb(44, 44, 44) */
  --spectrum-gray-200: rgb(50, 50, 50); /* original: rgb(50, 50, 50) */
  --spectrum-gray-300: rgb(57, 57, 57); /* original: rgb(57, 57, 57) */
  --spectrum-gray-400: rgb(68, 68, 68); /* original: rgb(68, 68, 68) */
  --spectrum-gray-500: rgb(109, 109, 109); /* original: rgb(109, 109, 109) */
  --spectrum-gray-600: rgb(138, 138, 138); /* original: rgb(138, 138, 138) */
  --spectrum-gray-700: rgb(175, 175, 175); /* original: rgb(175, 175, 175) */
  --spectrum-gray-800: rgb(219, 219, 219); /* original: rgb(219, 219, 219) */
  --spectrum-gray-900: rgb(242, 242, 242); /* original: rgb(242, 242, 242) */
  --spectrum-gray-1000: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-blue-100: rgb(14, 23, 63); /* original: rgb(14, 23, 63) */
  --spectrum-blue-200: rgb(15, 28, 82); /* original: rgb(15, 28, 82) */
  --spectrum-blue-300: rgb(12, 33, 117); /* original: rgb(12, 33, 117) */
  --spectrum-blue-400: rgb(18, 45, 154); /* original: rgb(18, 45, 154) */
  --spectrum-blue-500: rgb(26, 58, 195); /* original: rgb(26, 58, 195) */
  --spectrum-blue-600: rgb(37, 73, 229); /* original: rgb(37, 73, 229) */
  --spectrum-blue-700: rgb(52, 91, 248); /* original: rgb(52, 91, 248) */
  --spectrum-blue-800: rgb(69, 110, 254); /* original: rgb(69, 110, 254) */
  --spectrum-blue-900: rgb(86, 129, 255); /* original: rgb(86, 129, 255) */
  --spectrum-blue-1000: rgb(105, 149, 254); /* original: rgb(105, 149, 254) */
  --spectrum-blue-1100: rgb(124, 169, 252); /* original: rgb(124, 169, 252) */
  --spectrum-blue-1200: rgb(152, 192, 252); /* original: rgb(152, 192, 252) */
  --spectrum-blue-1300: rgb(181, 213, 253); /* original: rgb(181, 213, 253) */
  --spectrum-blue-1400: rgb(213, 231, 254); /* original: rgb(213, 231, 254) */
  --spectrum-blue-1500: rgb(238, 245, 255); /* original: rgb(238, 245, 255) */
  --spectrum-blue-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-red-100: rgb(54, 10, 3); /* original: rgb(54, 10, 3) */
  --spectrum-red-200: rgb(68, 13, 5); /* original: rgb(68, 13, 5) */
  --spectrum-red-300: rgb(87, 17, 7); /* original: rgb(87, 17, 7) */
  --spectrum-red-400: rgb(115, 24, 11); /* original: rgb(115, 24, 11) */
  --spectrum-red-500: rgb(147, 31, 17); /* original: rgb(147, 31, 17) */
  --spectrum-red-600: rgb(177, 38, 23); /* original: rgb(177, 38, 23) */
  --spectrum-red-700: rgb(205, 46, 29); /* original: rgb(205, 46, 29) */
  --spectrum-red-800: rgb(230, 54, 35); /* original: rgb(230, 54, 35) */
  --spectrum-red-900: rgb(252, 67, 46); /* original: rgb(252, 67, 46) */
  --spectrum-red-1000: rgb(255, 103, 86); /* original: rgb(255, 103, 86) */
  --spectrum-red-1100: rgb(255, 134, 120); /* original: rgb(255, 134, 120) */
  --spectrum-red-1200: rgb(255, 167, 157); /* original: rgb(255, 167, 157) */
  --spectrum-red-1300: rgb(255, 196, 189); /* original: rgb(255, 196, 189) */
  --spectrum-red-1400: rgb(255, 222, 219); /* original: rgb(255, 222, 219) */
  --spectrum-red-1500: rgb(255, 242, 240); /* original: rgb(255, 242, 240) */
  --spectrum-red-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-orange-100: rgb(49, 16, 0); /* original: rgb(49, 16, 0) */
  --spectrum-orange-200: rgb(61, 21, 0); /* original: rgb(61, 21, 0) */
  --spectrum-orange-300: rgb(80, 27, 0); /* original: rgb(80, 27, 0) */
  --spectrum-orange-400: rgb(106, 36, 0); /* original: rgb(106, 36, 0) */
  --spectrum-orange-500: rgb(135, 47, 0); /* original: rgb(135, 47, 0) */
  --spectrum-orange-600: rgb(162, 59, 0); /* original: rgb(162, 59, 0) */
  --spectrum-orange-700: rgb(185, 73, 0); /* original: rgb(185, 73, 0) */
  --spectrum-orange-800: rgb(205, 86, 0); /* original: rgb(205, 86, 0) */
  --spectrum-orange-900: rgb(224, 100, 0); /* original: rgb(224, 100, 0) */
  --spectrum-orange-1000: rgb(243, 117, 0); /* original: rgb(243, 117, 0) */
  --spectrum-orange-1100: rgb(255, 137, 0); /* original: rgb(255, 137, 0) */
  --spectrum-orange-1200: rgb(255, 173, 45); /* original: rgb(255, 173, 45) */
  --spectrum-orange-1300: rgb(255, 201, 116); /* original: rgb(255, 201, 116) */
  --spectrum-orange-1400: rgb(255, 225, 178); /* original: rgb(255, 225, 178) */
  --spectrum-orange-1500: rgb(255, 243, 225); /* original: rgb(255, 243, 225) */
  --spectrum-orange-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-yellow-100: rgb(37, 23, 0); /* original: rgb(37, 23, 0) */
  --spectrum-yellow-200: rgb(47, 29, 0); /* original: rgb(47, 29, 0) */
  --spectrum-yellow-300: rgb(61, 39, 0); /* original: rgb(61, 39, 0) */
  --spectrum-yellow-400: rgb(83, 52, 0); /* original: rgb(83, 52, 0) */
  --spectrum-yellow-500: rgb(107, 67, 0); /* original: rgb(107, 67, 0) */
  --spectrum-yellow-600: rgb(130, 82, 0); /* original: rgb(130, 82, 0) */
  --spectrum-yellow-700: rgb(151, 97, 0); /* original: rgb(151, 97, 0) */
  --spectrum-yellow-800: rgb(169, 110, 0); /* original: rgb(169, 110, 0) */
  --spectrum-yellow-900: rgb(186, 124, 0); /* original: rgb(186, 124, 0) */
  --spectrum-yellow-1000: rgb(203, 141, 0); /* original: rgb(203, 141, 0) */
  --spectrum-yellow-1100: rgb(218, 159, 0); /* original: rgb(218, 159, 0) */
  --spectrum-yellow-1200: rgb(235, 183, 0); /* original: rgb(235, 183, 0) */
  --spectrum-yellow-1300: rgb(249, 206, 0); /* original: rgb(249, 206, 0) */
  --spectrum-yellow-1400: rgb(255, 230, 86); /* original: rgb(255, 230, 86) */
  --spectrum-yellow-1500: rgb(255, 246, 195); /* original: rgb(255, 246, 195) */
  --spectrum-yellow-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-chartreuse-100: rgb(23, 28, 0); /* original: rgb(23, 28, 0) */
  --spectrum-chartreuse-200: rgb(30, 36, 0); /* original: rgb(30, 36, 0) */
  --spectrum-chartreuse-300: rgb(39, 47, 0); /* original: rgb(39, 47, 0) */
  --spectrum-chartreuse-400: rgb(53, 63, 0); /* original: rgb(53, 63, 0) */
  --spectrum-chartreuse-500: rgb(68, 82, 0); /* original: rgb(68, 82, 0) */
  --spectrum-chartreuse-600: rgb(83, 100, 0); /* original: rgb(83, 100, 0) */
  --spectrum-chartreuse-700: rgb(97, 116, 0); /* original: rgb(97, 116, 0) */
  --spectrum-chartreuse-800: rgb(109, 131, 0); /* original: rgb(109, 131, 0) */
  --spectrum-chartreuse-900: rgb(122, 147, 0); /* original: rgb(122, 147, 0) */
  --spectrum-chartreuse-1000: rgb(136, 164, 0); /* original: rgb(136, 164, 0) */
  --spectrum-chartreuse-1100: rgb(151, 181, 0); /* original: rgb(151, 181, 0) */
  --spectrum-chartreuse-1200: rgb(169, 203, 0); /* original: rgb(169, 203, 0) */
  --spectrum-chartreuse-1300: rgb(187, 225, 0); /* original: rgb(187, 225, 0) */
  --spectrum-chartreuse-1400: rgb(219, 240, 117); /* original: rgb(219, 240, 117) */
  --spectrum-chartreuse-1500: rgb(242, 249, 206); /* original: rgb(242, 249, 206) */
  --spectrum-chartreuse-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-celery-100: rgb(11, 31, 0); /* original: rgb(11, 31, 0) */
  --spectrum-celery-200: rgb(15, 38, 0); /* original: rgb(15, 38, 0) */
  --spectrum-celery-300: rgb(21, 51, 1); /* original: rgb(21, 51, 1) */
  --spectrum-celery-400: rgb(31, 67, 4); /* original: rgb(31, 67, 4) */
  --spectrum-celery-500: rgb(41, 86, 8); /* original: rgb(41, 86, 8) */
  --spectrum-celery-600: rgb(50, 105, 11); /* original: rgb(50, 105, 11) */
  --spectrum-celery-700: rgb(60, 122, 15); /* original: rgb(60, 122, 15) */
  --spectrum-celery-800: rgb(69, 138, 19); /* original: rgb(69, 138, 19) */
  --spectrum-celery-900: rgb(78, 154, 23); /* original: rgb(78, 154, 23) */
  --spectrum-celery-1000: rgb(88, 172, 28); /* original: rgb(88, 172, 28) */
  --spectrum-celery-1100: rgb(100, 190, 35); /* original: rgb(100, 190, 35) */
  --spectrum-celery-1200: rgb(116, 213, 46); /* original: rgb(116, 213, 46) */
  --spectrum-celery-1300: rgb(136, 234, 65); /* original: rgb(136, 234, 65) */
  --spectrum-celery-1400: rgb(170, 251, 112); /* original: rgb(170, 251, 112) */
  --spectrum-celery-1500: rgb(222, 255, 198); /* original: rgb(222, 255, 198) */
  --spectrum-celery-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-green-100: rgb(0, 30, 23); /* original: rgb(0, 30, 23) */
  --spectrum-green-200: rgb(0, 38, 29); /* original: rgb(0, 38, 29) */
  --spectrum-green-300: rgb(0, 51, 38); /* original: rgb(0, 51, 38) */
  --spectrum-green-400: rgb(0, 68, 48); /* original: rgb(0, 68, 48) */
  --spectrum-green-500: rgb(2, 87, 58); /* original: rgb(2, 87, 58) */
  --spectrum-green-600: rgb(3, 106, 67); /* original: rgb(3, 106, 67) */
  --spectrum-green-700: rgb(4, 124, 75); /* original: rgb(4, 124, 75) */
  --spectrum-green-800: rgb(6, 140, 82); /* original: rgb(6, 140, 82) */
  --spectrum-green-900: rgb(9, 157, 89); /* original: rgb(9, 157, 89) */
  --spectrum-green-1000: rgb(14, 175, 98); /* original: rgb(14, 175, 98) */
  --spectrum-green-1100: rgb(24, 193, 110); /* original: rgb(24, 193, 110) */
  --spectrum-green-1200: rgb(57, 215, 134); /* original: rgb(57, 215, 134) */
  --spectrum-green-1300: rgb(126, 231, 172); /* original: rgb(126, 231, 172) */
  --spectrum-green-1400: rgb(189, 241, 208); /* original: rgb(189, 241, 208) */
  --spectrum-green-1500: rgb(229, 250, 236); /* original: rgb(229, 250, 236) */
  --spectrum-green-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-seafoam-100: rgb(0, 30, 27); /* original: rgb(0, 30, 27) */
  --spectrum-seafoam-200: rgb(0, 39, 35); /* original: rgb(0, 39, 35) */
  --spectrum-seafoam-300: rgb(0, 50, 44); /* original: rgb(0, 50, 44) */
  --spectrum-seafoam-400: rgb(0, 67, 59); /* original: rgb(0, 67, 59) */
  --spectrum-seafoam-500: rgb(2, 86, 75); /* original: rgb(2, 86, 75) */
  --spectrum-seafoam-600: rgb(4, 105, 89); /* original: rgb(4, 105, 89) */
  --spectrum-seafoam-700: rgb(6, 122, 103); /* original: rgb(6, 122, 103) */
  --spectrum-seafoam-800: rgb(8, 138, 116); /* original: rgb(8, 138, 116) */
  --spectrum-seafoam-900: rgb(10, 154, 128); /* original: rgb(10, 154, 128) */
  --spectrum-seafoam-1000: rgb(12, 173, 142); /* original: rgb(12, 173, 142) */
  --spectrum-seafoam-1100: rgb(14, 190, 156); /* original: rgb(14, 190, 156) */
  --spectrum-seafoam-1200: rgb(29, 214, 176); /* original: rgb(29, 214, 176) */
  --spectrum-seafoam-1300: rgb(122, 229, 203); /* original: rgb(122, 229, 203) */
  --spectrum-seafoam-1400: rgb(186, 241, 222); /* original: rgb(186, 241, 222) */
  --spectrum-seafoam-1500: rgb(229, 249, 243); /* original: rgb(229, 249, 243) */
  --spectrum-seafoam-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-cyan-100: rgb(0, 29, 39); /* original: rgb(0, 29, 39) */
  --spectrum-cyan-200: rgb(0, 36, 49); /* original: rgb(0, 36, 49) */
  --spectrum-cyan-300: rgb(0, 48, 65); /* original: rgb(0, 48, 65) */
  --spectrum-cyan-400: rgb(0, 64, 88); /* original: rgb(0, 64, 88) */
  --spectrum-cyan-500: rgb(0, 82, 113); /* original: rgb(0, 82, 113) */
  --spectrum-cyan-600: rgb(3, 99, 140); /* original: rgb(3, 99, 140) */
  --spectrum-cyan-700: rgb(8, 115, 168); /* original: rgb(8, 115, 168) */
  --spectrum-cyan-800: rgb(15, 128, 194); /* original: rgb(15, 128, 194) */
  --spectrum-cyan-900: rgb(24, 142, 220); /* original: rgb(24, 142, 220) */
  --spectrum-cyan-1000: rgb(38, 159, 244); /* original: rgb(38, 159, 244) */
  --spectrum-cyan-1100: rgb(63, 177, 255); /* original: rgb(63, 177, 255) */
  --spectrum-cyan-1200: rgb(107, 199, 255); /* original: rgb(107, 199, 255) */
  --spectrum-cyan-1300: rgb(152, 219, 255); /* original: rgb(152, 219, 255) */
  --spectrum-cyan-1400: rgb(195, 236, 252); /* original: rgb(195, 236, 252) */
  --spectrum-cyan-1500: rgb(230, 248, 253); /* original: rgb(230, 248, 253) */
  --spectrum-cyan-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-indigo-100: rgb(30, 0, 93); /* original: rgb(30, 0, 93) */
  --spectrum-indigo-200: rgb(35, 0, 110); /* original: rgb(35, 0, 110) */
  --spectrum-indigo-300: rgb(47, 0, 140); /* original: rgb(47, 0, 140) */
  --spectrum-indigo-400: rgb(62, 12, 174); /* original: rgb(62, 12, 174) */
  --spectrum-indigo-500: rgb(79, 30, 209); /* original: rgb(79, 30, 209) */
  --spectrum-indigo-600: rgb(95, 52, 235); /* original: rgb(95, 52, 235) */
  --spectrum-indigo-700: rgb(109, 75, 248); /* original: rgb(109, 75, 248) */
  --spectrum-indigo-800: rgb(119, 97, 252); /* original: rgb(119, 97, 252) */
  --spectrum-indigo-900: rgb(128, 119, 254); /* original: rgb(128, 119, 254) */
  --spectrum-indigo-1000: rgb(139, 141, 254); /* original: rgb(139, 141, 254) */
  --spectrum-indigo-1100: rgb(153, 161, 255); /* original: rgb(153, 161, 255) */
  --spectrum-indigo-1200: rgb(176, 186, 255); /* original: rgb(176, 186, 255) */
  --spectrum-indigo-1300: rgb(199, 208, 255); /* original: rgb(199, 208, 255) */
  --spectrum-indigo-1400: rgb(223, 228, 255); /* original: rgb(223, 228, 255) */
  --spectrum-indigo-1500: rgb(243, 244, 255); /* original: rgb(243, 244, 255) */
  --spectrum-indigo-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-purple-100: rgb(41, 0, 79); /* original: rgb(41, 0, 79) */
  --spectrum-purple-200: rgb(50, 0, 96); /* original: rgb(50, 0, 96) */
  --spectrum-purple-300: rgb(64, 0, 122); /* original: rgb(64, 0, 122) */
  --spectrum-purple-400: rgb(83, 0, 159); /* original: rgb(83, 0, 159) */
  --spectrum-purple-500: rgb(107, 6, 195); /* original: rgb(107, 6, 195) */
  --spectrum-purple-600: rgb(130, 34, 215); /* original: rgb(130, 34, 215) */
  --spectrum-purple-700: rgb(148, 62, 224); /* original: rgb(148, 62, 224) */
  --spectrum-purple-800: rgb(161, 84, 229); /* original: rgb(161, 84, 229) */
  --spectrum-purple-900: rgb(173, 105, 233); /* original: rgb(173, 105, 233) */
  --spectrum-purple-1000: rgb(186, 127, 237); /* original: rgb(186, 127, 237) */
  --spectrum-purple-1100: rgb(197, 149, 240); /* original: rgb(197, 149, 240) */
  --spectrum-purple-1200: rgb(212, 176, 244); /* original: rgb(212, 176, 244) */
  --spectrum-purple-1300: rgb(225, 201, 247); /* original: rgb(225, 201, 247) */
  --spectrum-purple-1400: rgb(238, 224, 250); /* original: rgb(238, 224, 250) */
  --spectrum-purple-1500: rgb(248, 243, 253); /* original: rgb(248, 243, 253) */
  --spectrum-purple-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-fuchsia-100: rgb(50, 0, 61); /* original: rgb(50, 0, 61) */
  --spectrum-fuchsia-200: rgb(61, 0, 74); /* original: rgb(61, 0, 74) */
  --spectrum-fuchsia-300: rgb(79, 0, 95); /* original: rgb(79, 0, 95) */
  --spectrum-fuchsia-400: rgb(102, 9, 120); /* original: rgb(102, 9, 120) */
  --spectrum-fuchsia-500: rgb(127, 23, 146); /* original: rgb(127, 23, 146) */
  --spectrum-fuchsia-600: rgb(151, 38, 170); /* original: rgb(151, 38, 170) */
  --spectrum-fuchsia-700: rgb(173, 51, 192); /* original: rgb(173, 51, 192) */
  --spectrum-fuchsia-800: rgb(192, 64, 212); /* original: rgb(192, 64, 212) */
  --spectrum-fuchsia-900: rgb(213, 73, 235); /* original: rgb(213, 73, 235) */
  --spectrum-fuchsia-1000: rgb(232, 91, 253); /* original: rgb(232, 91, 253) */
  --spectrum-fuchsia-1100: rgb(240, 122, 255); /* original: rgb(240, 122, 255) */
  --spectrum-fuchsia-1200: rgb(245, 159, 255); /* original: rgb(245, 159, 255) */
  --spectrum-fuchsia-1300: rgb(248, 191, 255); /* original: rgb(248, 191, 255) */
  --spectrum-fuchsia-1400: rgb(251, 219, 255); /* original: rgb(251, 219, 255) */
  --spectrum-fuchsia-1500: rgb(253, 241, 255); /* original: rgb(253, 241, 255) */
  --spectrum-fuchsia-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-magenta-100: rgb(59, 0, 22); /* original: rgb(59, 0, 22) */
  --spectrum-magenta-200: rgb(74, 0, 27); /* original: rgb(74, 0, 27) */
  --spectrum-magenta-300: rgb(93, 0, 34); /* original: rgb(93, 0, 34) */
  --spectrum-magenta-400: rgb(123, 0, 45); /* original: rgb(123, 0, 45) */
  --spectrum-magenta-500: rgb(152, 7, 60); /* original: rgb(152, 7, 60) */
  --spectrum-magenta-600: rgb(181, 19, 76); /* original: rgb(181, 19, 76) */
  --spectrum-magenta-700: rgb(207, 31, 92); /* original: rgb(207, 31, 92) */
  --spectrum-magenta-800: rgb(231, 41, 105); /* original: rgb(231, 41, 105) */
  --spectrum-magenta-900: rgb(255, 51, 119); /* original: rgb(255, 51, 119) */
  --spectrum-magenta-1000: rgb(255, 96, 149); /* original: rgb(255, 96, 149) */
  --spectrum-magenta-1100: rgb(255, 128, 171); /* original: rgb(255, 128, 171) */
  --spectrum-magenta-1200: rgb(255, 163, 194); /* original: rgb(255, 163, 194) */
  --spectrum-magenta-1300: rgb(255, 193, 214); /* original: rgb(255, 193, 214) */
  --spectrum-magenta-1400: rgb(255, 220, 232); /* original: rgb(255, 220, 232) */
  --spectrum-magenta-1500: rgb(255, 241, 246); /* original: rgb(255, 241, 246) */
  --spectrum-magenta-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-pink-100: rgb(58, 0, 37); /* original: rgb(58, 0, 37) */
  --spectrum-pink-200: rgb(71, 0, 44); /* original: rgb(71, 0, 44) */
  --spectrum-pink-300: rgb(90, 0, 57); /* original: rgb(90, 0, 57) */
  --spectrum-pink-400: rgb(115, 7, 75); /* original: rgb(115, 7, 75) */
  --spectrum-pink-500: rgb(143, 18, 97); /* original: rgb(143, 18, 97) */
  --spectrum-pink-600: rgb(171, 29, 119); /* original: rgb(171, 29, 119) */
  --spectrum-pink-700: rgb(196, 39, 138); /* original: rgb(196, 39, 138) */
  --spectrum-pink-800: rgb(220, 47, 156); /* original: rgb(220, 47, 156) */
  --spectrum-pink-900: rgb(236, 67, 175); /* original: rgb(236, 67, 175) */
  --spectrum-pink-1000: rgb(251, 90, 196); /* original: rgb(251, 90, 196) */
  --spectrum-pink-1100: rgb(255, 122, 210); /* original: rgb(255, 122, 210) */
  --spectrum-pink-1200: rgb(255, 159, 223); /* original: rgb(255, 159, 223) */
  --spectrum-pink-1300: rgb(255, 191, 234); /* original: rgb(255, 191, 234) */
  --spectrum-pink-1400: rgb(255, 219, 243); /* original: rgb(255, 219, 243) */
  --spectrum-pink-1500: rgb(255, 241, 250); /* original: rgb(255, 241, 250) */
  --spectrum-pink-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-turquoise-100: rgb(0, 30, 33); /* original: rgb(0, 30, 33) */
  --spectrum-turquoise-200: rgb(0, 37, 41); /* original: rgb(0, 37, 41) */
  --spectrum-turquoise-300: rgb(0, 49, 54); /* original: rgb(0, 49, 54) */
  --spectrum-turquoise-400: rgb(0, 66, 72); /* original: rgb(0, 66, 72) */
  --spectrum-turquoise-500: rgb(3, 84, 92); /* original: rgb(3, 84, 92) */
  --spectrum-turquoise-600: rgb(5, 103, 112); /* original: rgb(5, 103, 112) */
  --spectrum-turquoise-700: rgb(7, 120, 131); /* original: rgb(7, 120, 131) */
  --spectrum-turquoise-800: rgb(9, 135, 147); /* original: rgb(9, 135, 147) */
  --spectrum-turquoise-900: rgb(11, 151, 164); /* original: rgb(11, 151, 164) */
  --spectrum-turquoise-1000: rgb(13, 168, 182); /* original: rgb(13, 168, 182) */
  --spectrum-turquoise-1100: rgb(16, 186, 202); /* original: rgb(16, 186, 202) */
  --spectrum-turquoise-1200: rgb(64, 208, 220); /* original: rgb(64, 208, 220) */
  --spectrum-turquoise-1300: rgb(128, 225, 231); /* original: rgb(128, 225, 231) */
  --spectrum-turquoise-1400: rgb(183, 240, 240); /* original: rgb(183, 240, 240) */
  --spectrum-turquoise-1500: rgb(228, 249, 249); /* original: rgb(228, 249, 249) */
  --spectrum-turquoise-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-brown-100: rgb(35, 24, 8); /* original: rgb(35, 24, 8) */
  --spectrum-brown-200: rgb(44, 31, 11); /* original: rgb(44, 31, 11) */
  --spectrum-brown-300: rgb(58, 40, 14); /* original: rgb(58, 40, 14) */
  --spectrum-brown-400: rgb(78, 55, 19); /* original: rgb(78, 55, 19) */
  --spectrum-brown-500: rgb(98, 71, 30); /* original: rgb(98, 71, 30) */
  --spectrum-brown-600: rgb(115, 88, 47); /* original: rgb(115, 88, 47) */
  --spectrum-brown-700: rgb(132, 104, 61); /* original: rgb(132, 104, 61) */
  --spectrum-brown-800: rgb(148, 118, 73); /* original: rgb(148, 118, 73) */
  --spectrum-brown-900: rgb(163, 132, 84); /* original: rgb(163, 132, 84) */
  --spectrum-brown-1000: rgb(181, 147, 98); /* original: rgb(181, 147, 98) */
  --spectrum-brown-1100: rgb(199, 163, 112); /* original: rgb(199, 163, 112) */
  --spectrum-brown-1200: rgb(222, 185, 130); /* original: rgb(222, 185, 130) */
  --spectrum-brown-1300: rgb(232, 207, 169); /* original: rgb(232, 207, 169) */
  --spectrum-brown-1400: rgb(242, 227, 206); /* original: rgb(242, 227, 206) */
  --spectrum-brown-1500: rgb(250, 244, 236); /* original: rgb(250, 244, 236) */
  --spectrum-brown-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-silver-100: rgb(26, 26, 26); /* original: rgb(26, 26, 26) */
  --spectrum-silver-200: rgb(33, 33, 33); /* original: rgb(33, 33, 33) */
  --spectrum-silver-300: rgb(44, 44, 44); /* original: rgb(44, 44, 44) */
  --spectrum-silver-400: rgb(59, 59, 59); /* original: rgb(59, 59, 59) */
  --spectrum-silver-500: rgb(76, 76, 76); /* original: rgb(76, 76, 76) */
  --spectrum-silver-600: rgb(92, 92, 92); /* original: rgb(92, 92, 92) */
  --spectrum-silver-700: rgb(108, 108, 108); /* original: rgb(108, 108, 108) */
  --spectrum-silver-800: rgb(123, 123, 123); /* original: rgb(123, 123, 123) */
  --spectrum-silver-900: rgb(137, 137, 137); /* original: rgb(137, 137, 137) */
  --spectrum-silver-1000: rgb(152, 152, 152); /* original: rgb(152, 152, 152) */
  --spectrum-silver-1100: rgb(169, 169, 169); /* original: rgb(169, 169, 169) */
  --spectrum-silver-1200: rgb(190, 190, 190); /* original: rgb(190, 190, 190) */
  --spectrum-silver-1300: rgb(211, 211, 211); /* original: rgb(211, 211, 211) */
  --spectrum-silver-1400: rgb(229, 229, 229); /* original: rgb(229, 229, 229) */
  --spectrum-silver-1500: rgb(244, 244, 244); /* original: rgb(244, 244, 244) */
  --spectrum-silver-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
  --spectrum-cinnamon-100: rgb(48, 17, 4); /* original: rgb(48, 17, 4) */
  --spectrum-cinnamon-200: rgb(59, 21, 5); /* original: rgb(59, 21, 5) */
  --spectrum-cinnamon-300: rgb(79, 28, 7); /* original: rgb(79, 28, 7) */
  --spectrum-cinnamon-400: rgb(100, 41, 15); /* original: rgb(100, 41, 15) */
  --spectrum-cinnamon-500: rgb(122, 57, 28); /* original: rgb(122, 57, 28) */
  --spectrum-cinnamon-600: rgb(143, 74, 40); /* original: rgb(143, 74, 40) */
  --spectrum-cinnamon-700: rgb(163, 88, 52); /* original: rgb(163, 88, 52) */
  --spectrum-cinnamon-800: rgb(179, 103, 64); /* original: rgb(179, 103, 64) */
  --spectrum-cinnamon-900: rgb(192, 119, 80); /* original: rgb(192, 119, 80) */
  --spectrum-cinnamon-1000: rgb(206, 136, 99); /* original: rgb(206, 136, 99) */
  --spectrum-cinnamon-1100: rgb(220, 154, 118); /* original: rgb(220, 154, 118) */
  --spectrum-cinnamon-1200: rgb(232, 179, 149); /* original: rgb(232, 179, 149) */
  --spectrum-cinnamon-1300: rgb(239, 203, 183); /* original: rgb(239, 203, 183) */
  --spectrum-cinnamon-1400: rgb(246, 225, 214); /* original: rgb(246, 225, 214) */
  --spectrum-cinnamon-1500: rgb(252, 244, 239); /* original: rgb(252, 244, 239) */
  --spectrum-cinnamon-1600: rgb(255, 255, 255); /* original: rgb(255, 255, 255) */
}
